<link rel="import" href="packages/polymer/polymer.html">
<link rel="import" href="../post_card/post_card.html">
<link rel="import" href="../post_model/post_model.html">

<polymer-element name="post-list">
  <template>
    <style>
      :host {
        display: block;
        width: 100%;
      }

      post-card {
        margin-bottom: 30px;
      }
    </style>

    <post-model posts="{{posts}}"></post-model>

    <div layout vertical center>
      <template repeat="{{post in posts}}">
        <post-card post="{{post}}">
          <img _src="{{post['avatar']}}" width="70" height="70">
          <h2>{{post['username']}}</h2>
          <p>{{post['text']}}</p>
        </post-card>
      </template>
    </div>


  </template>

  <script type="application/dart" src="post_list.dart"></script>
</polymer-element>