<!-- Polymer Element HTML import links go here (above <polymer-element> tag) -->
<link rel="import" href="packages/polymer/polymer.html">
<link rel="import" href="packages/core_elements/core_header_panel.html">
<link rel="import" href="packages/core_elements/core_toolbar.html">
<link rel="import" href="packages/paper_elements/paper_tabs.html">
<link rel="import" href="../../components/post_card/post_card.html">
<link rel="import" href="../../../resources/fonts.html">

<polymer-element name="app-view">
  <template>
    <link href="app_view.css" rel="stylesheet">
    <style></style>
     
    <core-header-panel flex>

      <core-toolbar>
        <paper-tabs id="tabs" selected="all" self-end on-core-select="{{tabSelected}}">
        <paper-tab name="all">All</paper-tab>
        <paper-tab name="favorites">Favorites</paper-tab>
      </paper-tabs>
      
      </core-toolbar>

      <div class="wrapper" layout vertical center>
         <post-card>
            <img src="../../../resources/images/avatar-07.svg" width="70" height="70">
            <h2>Another Developer</h2>
            <p>I'm composing with shadow DOM!</p>
        </post-card>
         
      </div>


    </core-header-panel>
    

  </template> 

  <script type="application/dart" src="app_view.dart"></script>
</polymer-element>